@model IEnumerable<ProductModel>
<style>
	.product-image-wrapper {
		height: 445px;
	}
</style>
<div>
@Html.Partial("_Slide")
</div>
<div class="col-sm-3"> 
	@Html.Partial("_SidebarPartial")
</div>
@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success alert-dismissible fade show" role="alert" id="success-alert" style="position: fixed; top: 20px; right: 20px; z-index: 1000;">
		@TempData["SuccessMessage"]
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}
<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>
		@foreach(var item in Model)
		{
		<div class="col-sm-4">
			<div class="product-image-wrapper">
				<div class="single-products">
						
					<div class="productinfo text-center">
						<a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
						<img src="~/media/products/@item.Image" alt="@item.Name" width="100%" />
							<h2>@item.Price</h2>
							<p>@item.Name</p>
							<p>Danh mục: @item.Category.Name</p>
							<p>Thương hiệu: @item.Brand.Name</p>
						</a>
						<a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id" onclick=""><i class="fa fa-shopping-cart"></i>Add to cart</a>
					</div>
						
				</div>				
				<div class="choose">
					<ul class="nav nav-pills nav-justified">
						<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
						<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
					</ul>
				</div>
			</div>
		</div>
		}
	</div>
</div>
