@model IEnumerable<BrandModel>
@{
    ViewData["title"] = "Danh sách Thương hiệu";
}
@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/brand" class="nav-link">Thương Hiệu</a>
        </li>
    </ul>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách Thương Hiệu</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                    <li class="breadcrumb-item active">Thương Hiệu</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách Thương Hiệu</h3>

            <div class="card-tools">
                <a href="/admin/brand/create" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class=" table table-hover">
                <thead>
                    <tr>
                        <th>Tên Thương Hiệu</th>
                        <th>Mô tả Thương Hiệu</th>
                        <th>Slug Thương Hiệu</th>
                        <th>Trạng thái Thương Hiệu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@Html.Raw(@item.Description)</td>
                                <td>@item.Slug</td>
                                <td>
                                    @if (@item.Status == 1)
                                    {
                                        <span class="text text-success">Hiển thị</span>
                                    }
                                    else
                                    {
                                        <span class="text text-danger">Ẩn</span>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-success" asp-action="Edit" asp-controller="brand" asp-route-Id="@item.Id">Sửa</a>
                                    <a class="btn btn-sm btn-danger confirmDeletion" asp-action="Delete" asp-controller="brand" asp-route-Id="@item.Id">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">
                                Không có bản ghi nào!
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>