@model IEnumerable<ProductModel>
@{
    ViewData["title"] = "Danh sách sản phẩm";
}
@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/product" class="nav-link">Sản phẩm</a>
        </li>
    </ul>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách sản phẩm</h3>

            <div class="card-tools">
                <a href="/admin/product/create" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class=" table table-hover">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Slug</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td width="20%"><img src="~/media/products/@item.Image" width="30%"></td>
                                <td>@item.Name</td>
                                <td>@item.Category.Name</td>
                                <td>@item.Slug</td>
                                <td>
                                    <a class="btn btn-sm btn-success" asp-action="Edit" asp-controller="Product" asp-route-Id="@item.Id">Sửa</a>
                                    <a class="btn btn-sm btn-danger confirmDeletion" asp-action="Delete" asp-controller="Product" asp-route-Id="@item.Id">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">
                                Không có bản ghi nào!
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>